$decorationColor: white;
$logoBackground: black;
$backgroundColor: rgb(104, 104, 110);
$fontColor: white;
$secondFontColor: white;
$letterColor: rgba(255, 255, 255, 0.5);
$greenBase: rgba(50, 89, 62, 0.6);
$aboutUsBackground: rgb(19,40,21);
$sideBarColor: rgb(105, 105, 105);
$contactButtonBoxShadow:rgba(255, 255, 255, 0.4);
$errorColor: black;
$hoverColor: gold;